<section id="faq" class="bg-light">
    <div class="container animate-on-scroll">
      <h2>Preguntas Frecuentes</h2>
      <div class="faq-container">
        <div class="faq-item">
          <div class="faq-question">
            <h4>¿Cuáles son los métodos de pago?</h4>
            <i class="fas fa-chevron-down" aria-hidden="true"></i>
          </div>
          <div class="faq-answer">
            <p>Aceptamos todo medio de pago</p>
          </div>
        </div>
        <div class="faq-item">
          <div class="faq-question">
            <h4>¿A qué zonas de Santiago?</h4>
            <i class="fas fa-chevron-down" aria-hidden="true"></i>
          </div>
          <div class="faq-answer">
            <p>Realizamos entregas a domicilio en toda la zona de Puente Alto y La Florida</p>
          </div>
        </div>
        <div class="faq-item">
          <div class="faq-question">
            <h4>¿Cómo realizo un pedido?</h4>
            <i class="fas fa-chevron-down" aria-hidden="true"></i>
          </div>
          <div class="faq-answer">
            <p>Es muy fácil. Revisa nuestro catálogo, elige tus pastel favorito <a href="https://www.instagram.com/pasteleria-mil-sabores" target="_blank" rel="noopener noreferrer">@pasteleria-mil-sabores</a> o por WhatsApp al <a href="https://wa.me/56912345678" target="_blank" rel="noopener noreferrer">+56912345678</a> no te quedes sin probar estos ricos pasteles</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  