<section id="productos" class="animate-on-scroll">
    <div class="container">
        <h2>Nuestros Productos</h2>
        <div class="product-grid">
            <div class="product-card">
                <img src="images/4.png" alt="Pastel de Chocolate">
                <div class="product-card-body">
                  
                    <h3>Pastel de Chocolate</h3>
                    <p>Un clásico para los amantes del cacao, con un bizcocho húmedo y una suave cobertura.</p>
                    <div class="price-info">
                        <span class="offer-price" data-price="25000">$25.000</span>
                    </div> 
                </div>
                <button class="add-to-cart-btn" data-id="1">Agregar al carrito</button>
            </div>
            
            <div class="product-card">
                <img src="images/2.png" alt="Pastel de Vainilla">
                <div class="product-card-body">
                    <h3>Pastel Doble Chocolate</h3>
                    <p>Doble porción de chocolate, con diferentes concentraciones.</p>
                    <div class="price-info">
                        <span class="offer-price" data-price="22000">$22.000</span>
                    </div>
                </div>
                <button class="add-to-cart-btn" data-id="2">Agregar al carrito</button>
            </div>

            <div class="product-card">                     
                <img src="images/3.png" alt="Pastel de Frutos Rojos">
                <div class="product-card-body">
                    <h3>Pastel Frutos Rojos</h3>
                    <p>Una explosión de sabor con crema batida y una mezcla de frutos rojos frescos.</p>
                    <div class="price-info">
                        <span class="offer-price" data-price="28000">$28.000</span>
                    </div>
                </div>
                <button class="add-to-cart-btn" data-id="3">Agregar al carrito</button>
            </div>
        </div>
    </div>
</section>

